.navbar-content {
  /* margin-left: 48px;
  margin-right: 45px; */
  background-color: #f0fbf3;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 105px;
  padding-right: 120px;
  padding-top: 7px;

}

.image {
width: 179px;
height: 33px;
padding-left: 200px;
display: flex;
align-items: center;
justify-content: center
}

.pages {
  /* background-color: blue; */
  color: #161C2D;
  height: 26px;
  padding-left: 234px;
  padding-right: 404px;
 }


.nav-link{
  display: flex;
  gap: 36px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  }

.nav-item{
  text-decoration: none;
  color: #161C2D;
}

.btn-box {
  /* background-color: blueviolet; */
  width: 150px;
  height: 26px;
  padding-top: 7px;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: #161C2D;
  text-align: right;
  letter-spacing: -0.1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
.btn{
    background-color: #f0fbf3;
    border: none;
    color: #161C2D;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.1px;
    cursor: pointer;
}

.nav-item:hover{
    color: chocolate;
}

.header-content{
  background-color: #f0fbf3;
  height: 677px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  gap: 16px;
}

.header-txt{
  /* background-color: bisque; */
  width: 518px;
  height: 402px;
  display:flex ;
  flex-direction: column;
  gap: 21px;
}

.header-big-txt{
  width: 348px;
  height: 195px;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
  color: #161C2D;
}

.header-little-txt{
width: 350px;
height: 96px;
opacity: 70%;
font-size: 19px;
font-weight: 400px;
line-height: 32px;
letter-spacing: -0.2px;
color: #161C2D;
}

.header-image{
  width: 481px;
  height: 685px;
  padding-left: 40px;
}

.companies-container{
  /* background-color: cadetblue; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companies{
  /* background-color: burlywood; */
  width: 766px;
  height: 338px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;

  }

  .companies-txt{
    /* background-color: darkgray; */
height: 174px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
}

.companies-big-txt{
  width: 356px;
  height: 48px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1.2px;
}

.companies-little-txt{
  /* background-color: yellow; */
  width: 640px;
  height: 96px;
  opacity: 70%;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.companies-logo1{
  /* background-color: cornflowerblue; */
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.box1{
  display: flex;
  gap: 100px;
}

.img-logo{
  width: 95px;
  height: 24px;
}

.box2{
display: flex;
gap: 120px;
}

.companies-logo2{
  /* background-color: cornflowerblue; */
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}